*{
 margin: 0;
 padding:0;
}

.formulario{
    height:700px;
    width: 640px;
    border:1px solid black;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5%;
    background:rgb(201, 212, 212);
}

body{
background-image: url(https://lh3.googleusercontent.com/proxy/kva1_br0GbDLpI39BTSD7BkkQAj_VMEnFRyEYmP1NebINWJvN4_cOEN042Tx7Ke_wdbLIW2SECHdmMtacglgDuH1T41v4pRUZjtETUpRZXM-DVhthYXiTdez0rN3b1aANUEdzx4E7vpE);
background-attachment: fixed;
background-size: cover;
}

.inputformulario{
height: 230px;
width: 580px;
margin-top: 15px;
border:1px solid black;
display: flex;
flex-direction: column;
margin-left: 20px;
}

.campos{
    margin-top: 15px;
    margin-left: 15px;
}

label{
    font-size: 20px;
}
input{
    font-size: 22px;
    margin-left: 9px;
}
.btn{
    height: 50px;
    width: 160px;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 30px;
    border:1px solid black;
}

.tabla{
    height: 330px;
    width: 595px;
    border:1px solid black;
    margin-top: 29px;
    margin-left: 20px;
    overflow:scroll;
}